:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#load {
  position: fixed;
  display: block;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
