@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background-color: rgb(253, 253, 253);
    align-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-color: rgb(68, 68, 68);
}

.nav-title {
    display: flex;
    margin-left: 15px;
    align-items: center;
}

.gpi-title {
    color: black;
    font-weight: 200;
    margin-left: 15px;
}

.div-form-clients {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.315);
}

.div-form-clients .div-form-clients-content{
    border-radius: 5px;
    width: 50%; 
    display: flex;
    margin: auto;
    margin-top: 55px;
    flex-direction: column;
    align-items: center;
}

.form-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px rgb(97, 97, 97) solid;
    box-shadow: 1px 1px 3px 1px rgba(63, 63, 63, 0.521);
    padding: 5px;
    background-color: white;
}


.search-clients {  
    display: flex;
    margin-bottom: 8px;
    label {
        margin-top: 5px;
        color: rgb(95, 95, 95);
    }
    input {  
        height: 30px;
        padding: 5px;
        margin: 5px;
    }
    legend {
        padding: 10px;
        margin: auto;
    }
    fieldset {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
}

.search-clients-buttons {
    display: flex;
    align-items: end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.btn-update {
    min-width: 100px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(190, 171, 0);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
}

.btn-update:hover {
    background-color: rgb(160, 149, 0);
    scale: 1.013;
}

.btn-save {
    min-width: 100px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(0, 190, 41);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
}

.btn-save:hover {
    background-color: rgb(5, 160, 0);
    scale: 1.013;
}

.btn-close {
    min-width: 100px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(131, 4, 21);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.btn-close:hover {
    background-color: rgb(116, 5, 2);
    scale: 1.013;
}

th {
    background: rgb(255,136,0);
    background: linear-gradient(0deg, rgba(255,136,0,1) 0%, rgba(255,154,1,1) 41%, rgba(255,188,0,1) 100%);
    color: white;
    font-weight: 100;
}

table {
    max-width: 98%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid rgb(219, 219, 219);
}
th, td {
    padding: 8px;
    text-align: left;
}

tr:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}
